body {
  margin: 0;
  font-family: 'MonaSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: 'MonaSans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.min-w-4 {
  min-width: 1rem;
}